build/
out/

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

#Gradle
.gradletasknamecache
.gradle/
gradle.properties

# Logs / Save Files
config/*
client.log
*.log
